In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/walmart-recruiting-store-sales-forecasting/train.csv.zip
/kaggle/input/walmart-recruiting-store-sales-forecasting/sampleSubmission.csv.zip
/kaggle/input/walmart-recruiting-store-sales-forecasting/stores.csv
/kaggle/input/walmart-recruiting-store-sales-forecasting/features.csv.zip
/kaggle/input/walmart-recruiting-store-sales-forecasting/test.csv.zip

In [2]:
train = pd.read_csv("/kaggle/input/walmart-recruiting-store-sales-forecasting/train.csv.zip")

In [3]:
test = pd.read_csv("/kaggle/input/walmart-recruiting-store-sales-forecasting/test.csv.zip")

In [4]:
display(train,test)

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  2010-02-05      24924.50      False
1           1     1  2010-02-12      46039.49       True
2           1     1  2010-02-19      41595.55      False
3           1     1  2010-02-26      19403.54      False
4           1     1  2010-03-05      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  2012-09-28        508.37      False
421566     45    98  2012-10-05        628.10      False
421567     45    98  2012-10-12       1061.02      False
421568     45    98  2012-10-19        760.01      False
421569     45    98  2012-10-26       1076.80      False

[421570 rows x 5 columns]

        Store  Dept        Date  IsHoliday
0           1     1  2012-11-02      False
1           1     1  2012-11-09      False
2           1     1  2012-11-16      False
3           1     1  2012-11-23       True
4           1     1  2012-11-30      False
...       ...   ...         ...        ...
115059     45    98  2013-06-28      False
115060     45    98  2013-07-05      False
115061     45    98  2013-07-12      False
115062     45    98  2013-07-19      False
115063     45    98  2013-07-26      False

[115064 rows x 4 columns]

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [6]:
#data 타입을 알고 있어야함.
#
train2 = train.drop(["Date","Weekly_Sales"],axis = 1) 
#Date는 object인데 numeric변수가 아
#weekly_Sales는 타겟 변수여서 예외해줌
#axis = 1 는 헤더를 살림
#axis = 0 이 디폴트값임(헤더 )

In [7]:
test2 = test.drop("Date",1)

In [8]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [9]:
rf.fit(train2,train["Weekly_Sales"])
#변수와 결과값 넣어줌 
#지도 학습이어서 결과값을 같이 학습시킴
#학습시킴

RandomForestRegressor()

In [10]:
result = rf.predict(test2)
#예측 저장

In [11]:
result

array([22288.90331611, 22288.90331611, 22288.90331611, ...,
         568.25532782,   568.25532782,   568.25532782])

In [12]:
#제출 파일을 만든다
sub = pd.read_csv("/kaggle/input/walmart-recruiting-store-sales-forecasting/sampleSubmission.csv.zip")
sub
#기본 제출 형식에 맞게 제출할 수 있도록 변환

                      Id  Weekly_Sales
0         1_1_2012-11-02             0
1         1_1_2012-11-09             0
2         1_1_2012-11-16             0
3         1_1_2012-11-23             0
4         1_1_2012-11-30             0
...                  ...           ...
115059  45_98_2013-06-28             0
115060  45_98_2013-07-05             0
115061  45_98_2013-07-12             0
115062  45_98_2013-07-19             0
115063  45_98_2013-07-26             0

[115064 rows x 2 columns]

In [13]:
sub["Weekly_Sales"] = result
sub

                      Id  Weekly_Sales
0         1_1_2012-11-02  22288.903316
1         1_1_2012-11-09  22288.903316
2         1_1_2012-11-16  22288.903316
3         1_1_2012-11-23  26006.402086
4         1_1_2012-11-30  22288.903316
...                  ...           ...
115059  45_98_2013-06-28    568.255328
115060  45_98_2013-07-05    568.255328
115061  45_98_2013-07-12    568.255328
115062  45_98_2013-07-19    568.255328
115063  45_98_2013-07-26    568.255328

[115064 rows x 2 columns]

In [14]:
sub.to_csv("submission.csv",index=False)
#index=False 헤더 없애서 제출해줌
#제출 파일 생성 완료

## Date 변수 타입 변환해서 다시 실행해보기

In [15]:
train = pd.read_csv("/kaggle/input/walmart-recruiting-store-sales-forecasting/train.csv.zip")

In [16]:
test = pd.read_csv("/kaggle/input/walmart-recruiting-store-sales-forecasting/test.csv.zip")

In [17]:
train["Date"] = train["Date"].astype("datetime64")
train["year"] = train["Date"].dt.year
train["month"] = train["Date"].dt.month
train["week"] = train["Date"].dt.week
train
#연월일 각각 따로 칼럼으로 만들어줌

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

        Store  Dept       Date  Weekly_Sales  IsHoliday  year  month  week
0           1     1 2010-02-05      24924.50      False  2010      2     5
1           1     1 2010-02-12      46039.49       True  2010      2     6
2           1     1 2010-02-19      41595.55      False  2010      2     7
3           1     1 2010-02-26      19403.54      False  2010      2     8
4           1     1 2010-03-05      21827.90      False  2010      3     9
...       ...   ...        ...           ...        ...   ...    ...   ...
421565     45    98 2012-09-28        508.37      False  2012      9    39
421566     45    98 2012-10-05        628.10      False  2012     10    40
421567     45    98 2012-10-12       1061.02      False  2012     10    41
421568     45    98 2012-10-19        760.01      False  2012     10    42
421569     45    98 2012-10-26       1076.80      False  2012     10    43

[421570 rows x 8 columns]

In [18]:
test["Date"] = test["Date"].astype("datetime64")
test["year"] = test["Date"].dt.year
test["month"] = test["Date"].dt.month
test["week"] = test["Date"].dt.week 
test

#day, weekday(요일), hour, minute, second 이런걸 추가하면 됨
#일년이 52주인데 이걸 순번 매겨주는게 week

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  after removing the cwd from sys.path.

        Store  Dept       Date  IsHoliday  year  month  week
0           1     1 2012-11-02      False  2012     11    44
1           1     1 2012-11-09      False  2012     11    45
2           1     1 2012-11-16      False  2012     11    46
3           1     1 2012-11-23       True  2012     11    47
4           1     1 2012-11-30      False  2012     11    48
...       ...   ...        ...        ...   ...    ...   ...
115059     45    98 2013-06-28      False  2013      6    26
115060     45    98 2013-07-05      False  2013      7    27
115061     45    98 2013-07-12      False  2013      7    28
115062     45    98 2013-07-19      False  2013      7    29
115063     45    98 2013-07-26      False  2013      7    30

[115064 rows x 7 columns]

In [19]:
display(train,test)

        Store  Dept       Date  Weekly_Sales  IsHoliday  year  month  week
0           1     1 2010-02-05      24924.50      False  2010      2     5
1           1     1 2010-02-12      46039.49       True  2010      2     6
2           1     1 2010-02-19      41595.55      False  2010      2     7
3           1     1 2010-02-26      19403.54      False  2010      2     8
4           1     1 2010-03-05      21827.90      False  2010      3     9
...       ...   ...        ...           ...        ...   ...    ...   ...
421565     45    98 2012-09-28        508.37      False  2012      9    39
421566     45    98 2012-10-05        628.10      False  2012     10    40
421567     45    98 2012-10-12       1061.02      False  2012     10    41
421568     45    98 2012-10-19        760.01      False  2012     10    42
421569     45    98 2012-10-26       1076.80      False  2012     10    43

[421570 rows x 8 columns]

        Store  Dept       Date  IsHoliday  year  month  week
0           1     1 2012-11-02      False  2012     11    44
1           1     1 2012-11-09      False  2012     11    45
2           1     1 2012-11-16      False  2012     11    46
3           1     1 2012-11-23       True  2012     11    47
4           1     1 2012-11-30      False  2012     11    48
...       ...   ...        ...        ...   ...    ...   ...
115059     45    98 2013-06-28      False  2013      6    26
115060     45    98 2013-07-05      False  2013      7    27
115061     45    98 2013-07-12      False  2013      7    28
115062     45    98 2013-07-19      False  2013      7    29
115063     45    98 2013-07-26      False  2013      7    30

[115064 rows x 7 columns]

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   year          421570 non-null  int64
 6   month         421570 non-null  int64
 7   week          421570 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(5)
memory usage: 22.9 MB

In [21]:
train2 = train.drop(["Weekly_Sales"],axis = 1)

In [22]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

In [23]:
rf.fit(train2,train["Weekly_Sales"])

TypeError: invalid type promotion

In [24]:
result = rf.predict(test)
result

NotFittedError: This RandomForestRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [25]:
sub = pd.read_csv("/kaggle/input/walmart-recruiting-store-sales-forecasting/sampleSubmission.csv.zip")
sub

                      Id  Weekly_Sales
0         1_1_2012-11-02             0
1         1_1_2012-11-09             0
2         1_1_2012-11-16             0
3         1_1_2012-11-23             0
4         1_1_2012-11-30             0
...                  ...           ...
115059  45_98_2013-06-28             0
115060  45_98_2013-07-05             0
115061  45_98_2013-07-12             0
115062  45_98_2013-07-19             0
115063  45_98_2013-07-26             0

[115064 rows x 2 columns]

In [26]:
sub["Weekly_Sales"] = result
sub

                      Id  Weekly_Sales
0         1_1_2012-11-02  22288.903316
1         1_1_2012-11-09  22288.903316
2         1_1_2012-11-16  22288.903316
3         1_1_2012-11-23  26006.402086
4         1_1_2012-11-30  22288.903316
...                  ...           ...
115059  45_98_2013-06-28    568.255328
115060  45_98_2013-07-05    568.255328
115061  45_98_2013-07-12    568.255328
115062  45_98_2013-07-19    568.255328
115063  45_98_2013-07-26    568.255328

[115064 rows x 2 columns]

In [27]:
sub.to_csv("submission.csv",index=False)