## 데이터 불러오기

In [54]:
import pandas as pd

train = pd.read_csv('train_df.csv',encoding = 'cp949')
test = pd.read_csv('test_df.csv',encoding = 'cp949')

submission = pd.read_csv('sample_submission.csv')

In [55]:
train.head()

,index,SEND_SPG_INNB,REC_SPG_INNB,DL_GD_LCLS_NM,DL_GD_MCLS_NM,INVC_CONT
0,0,1129000014045300,5011000220046300,패션의류,상의,3
1,1,1135000009051200,5011000178037300,생활/건강,반려동물,3
2,2,1135000030093100,5011000265091400,패션의류,기타패션의류,9
3,3,1154500002014200,5011000315087400,식품,농산물,10
4,4,1165000021008300,5011000177051200,식품,가공식품,3

In [56]:
test.head()

   index     SEND_SPG_INNB      REC_SPG_INNB DL_GD_LCLS_NM DL_GD_MCLS_NM
0  32000  5013000043028400  1165000021097200            식품           농산물
1  32001  5013000044016100  1154500002066400            식품           농산물
2  32002  5013000205030200  4139000102013200            식품           농산물
3  32003  5013000205030200  4221000040093400            식품           농산물
4  32004  5013000268011400  2726000004017100            식품           농산물

In [57]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000 entries, 0 to 31999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          32000 non-null  int64
 1   SEND_SPG_INNB  32000 non-null  int64
 2   REC_SPG_INNB   32000 non-null  int64
 3   DL_GD_LCLS_NM  32000 non-null  object
 4   DL_GD_MCLS_NM  32000 non-null  object
 5   INVC_CONT      32000 non-null  int64
dtypes: int64(4), object(2)
memory usage: 1.5+ MB

In [58]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4640 entries, 0 to 4639
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          4640 non-null   int64
 1   SEND_SPG_INNB  4640 non-null   int64
 2   REC_SPG_INNB   4640 non-null   int64
 3   DL_GD_LCLS_NM  4640 non-null   object
 4   DL_GD_MCLS_NM  4640 non-null   object
dtypes: int64(3), object(2)
memory usage: 181.4+ KB

In [59]:
train.isnull().sum()

index            0
SEND_SPG_INNB    0
REC_SPG_INNB     0
DL_GD_LCLS_NM    0
DL_GD_MCLS_NM    0
INVC_CONT        0
dtype: int64

## 데이터 전처리

In [60]:
# 원핫 인코딩
train_one = pd.get_dummies(train)
test_one = pd.get_dummies(test)

## 모델링

In [61]:
from lightgbm import LGBMRegressor

train_X = train_one.drop('INVC_CONT',axis = 1)
train_Y = train_one['INVC_CONT']

#모델 정의
model = LGBMRegressor()

In [62]:
# 모델 학습
model.fit(train_X,train_Y)

LGBMRegressor()

In [63]:
# test 데이터 예측
pred = model.predict(test_one)

## 정답파일 생성

In [64]:
submission['INVC_CONT'] = pred

In [65]:
submission.to_csv('baseline.csv',index = False)